!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear User,
    %p
      Please find below the link where you can fill your card details to complete the payment.
    %p
      #{@checkout_url}
    %p
      Contact us (https://support.apayi.in) in case of any query.
    %p
      Best Regards,
      %br
        APayI Team
